In [1]:
'''
!pip install bs4
!pip install requests
'''

'\n!pip install bs4\n!pip install requests\n'

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
data = requests.get("https://www.worldometers.info/coronavirus/").text

In [4]:
soup = BeautifulSoup(data, "html5lib")

In [5]:
dfColumns = []
for headline in soup.find('table', class_='table table-bordered table-hover main_table_countries').find('thead').find('tr').find_all('th'):
    dfColumns.append(headline.text)
    
dfColumns.remove('1 Testevery X ppl')

dfColumns

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop\n',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

In [6]:
data = pd.DataFrame(columns = [])
for col in dfColumns:
    data[col] = col

In [7]:
# to print all the contents of a dataframe, use following settings:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

data

Empty DataFrame
Columns: [#, Country,Other, TotalCases, NewCases, TotalDeaths, NewDeaths, TotalRecovered, NewRecovered, ActiveCases, Serious,Critical, Tot Cases/1M pop, Deaths/1M pop, TotalTests, Tests/
1M pop
, Population, Continent, 1 Caseevery X ppl, 1 Deathevery X ppl, New Cases/1M pop, New Deaths/1M pop, Active Cases/1M pop]
Index: []

In [8]:
rows = []
for row in soup.find('table', class_='table table-bordered table-hover main_table_countries').find('tbody').find_all('tr'):
    rows.append(row.text)

In [9]:
for ind in range(7, len(rows)):
    row = rows[ind].split('\n')[1:-1]
    s = pd.Series(row[:21], index=data.columns)
    data = data.append(s, ignore_index=True)

In [10]:
data = data.drop('1 Caseevery X ppl', 1)

In [11]:
#Now-All
data.head().style.hide_index()

In [12]:
data.to_csv("Report-coronavirus-cases.csv", index=False)